services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-laravel-app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - /var/www/html/storage
      - /var/www/html/bootstrap/cache
      - ./.docker/apache/default.conf:/etc/apache2/sites-enabled/000-default.conf
    working_dir: /var/www/html
    user: "www-data"
    environment:
      - APP_ENV=production
      - APP_KEY=base64:S6fzMBQDIndDfP62AvSWLCptFi6SNWeH6sSHHHob0Kk=
      - APP_DEBUG=false
      - DB_CONNECTION=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=laravel_app
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret
    depends_on:
      - db
    restart: always

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-laravel_app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    command: ['sh', '-c', 'while true; do php artisan schedule:run --verbose --no-interaction; sleep 60; done']
    depends_on:
      - db

  queue:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-laravel_app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    restart: always
    command: php artisan queue:work
    depends_on:
      - web

  # db:
  #   image: mysql:8.0
  #   environment:
  #     MYSQL_ROOT_PASSWORD: ROOT
  #     MYSQL_DATABASE: laravel_app
  #     MYSQL_USER: laravel
  #     MYSQL_PASSWORD: secret
  #   ports:
  #     - "3307:3306"
  #   volumes:
  #     - dbdata:/var/lib/mysql
  #   restart: always

# //---------- pgsql ----------//
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: laravel_app
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    ports:
      - "5433:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
    restart: always
# //---------- pgsql ----------//

volumes:
  dbdata:
