services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-laravel-app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./.docker/apache/default.conf:/etc/apache2/sites-enabled/000-default.conf
    working_dir: /var/www/html
    user: "www-data"
    environment:
      - APP_ENV=production
      - APP_KEY=base64:S6fzMBQDIndDfP62AvSWLCptFi6SNWeH6sSHHHob0Kk=
      - APP_DEBUG=false
      - DB_CONNECTION=mysql
      - DB_HOST=db
      - DB_PORT=3306
      - DB_DATABASE=laravel_app
      - DB_USERNAME=laravel
      - DB_PASSWORD=secret
    depends_on:
      - db
    restart: always

  scheduler:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-laravel-app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    command: [ "sh", "-c", "while true; do php artisan schedule:run --verbose --no-interaction; sleep 60; done" ]
    depends_on:
      - db

  queue:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-laravel-app
    volumes:
      - .:/var/www/html
    working_dir: /var/www/html
    restart: always
    command: php artisan queue:work
    depends_on:
      - web

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_app
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql
    restart: always

  # //---------- pgsql ----------//
  # db:
  #   image: postgres:17
  #   environment:
  #     POSTGRES_DB: laravel_app
  #     POSTGRES_USER: laravel
  #     POSTGRES_PASSWORD: secret
  #   ports:
  #     - "5433:5432"
  #   volumes:
  #     - dbdata:/var/lib/postgresql/data
  #   restart: always
  # //---------- pgsql ----------//

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: laravel-phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: root
    platform: linux/amd64
    depends_on:
      - db

volumes:
  dbdata:
